body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:520px;
  top:140px;
  width:300px;
  height:370px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:370px;
}
#u1 {
  position:absolute;
  left:2px;
  top:177px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:520px;
  top:140px;
  width:100px;
  height:75px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:75px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:530px;
  top:244px;
  width:220px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  background-image:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:760px;
  top:245px;
  width:50px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:550px;
  top:304px;
  width:170px;
  height:16px;
}
#u6 {
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u5_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7 {
  position:absolute;
  left:550px;
  top:340px;
  width:130px;
  height:16px;
}
#u8 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u7_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
