body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:520px;
  top:140px;
  width:300px;
  height:370px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:370px;
}
#u1 {
  position:absolute;
  left:2px;
  top:177px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:520px;
  top:140px;
  width:300px;
  height:370px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:370px;
}
#u3 {
  position:absolute;
  left:2px;
  top:177px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:520px;
  top:140px;
  width:100px;
  height:75px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:75px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
