<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="Zaraz odjedzie">
  <ion-content padding="true">
	<div class="row">
	  <div class="col"><h2 class="busstop">Traugutta-Sobieskiego</h2></div>
	</div>
	<div class="row">
	  <div class="col">115</div>
	  <div class="col">za 1 minutę</div>
	</div>
	<div class="row">
	  <div class="col">199</div>
	  <div class="col">za 9 minut</div>
	</div>
	<div class="row">
	  <div class="col">162</div>
	  <div class="col">19:34</div>
	</div>

	<div class="row">
	  <div class="col"><h2 class="busstop">Miszewskiego</h2></div>
	</div>
	<div class="row">
	  <div class="col">11</div>
	  <div class="col">za 9 minut</div>
	</div>
	<div class="row">
	  <div class="col">6</div>
	  <div class="col">19:20</div>
	</div>
	<div class="row">
	  <div class="col">5</div>
	  <div class="col">19:30</div>
	</div>
  </ion-content>
</ion-view>
