<ion-view title="Dane">
  <ion-content has-tabs="true">
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input id="title_input" type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Description</span>
        <input id="description_input" type="text">
      </label>
      <button class="button button-positive button-block" id="add_button">Add</button>
    </div>
  </ion-content>
</ion-view>
