<ion-view title="Zaraz odjedzie">
  <ion-content padding="true">
    <div ng-repeat="busstop in busstops">
      <div class="row">
        <div class="col"><h2 class="busstop">{{ busstop.name }}</h2></div>
      </div>
    <div class="row" ng-repeat="vehicle in busstop.vehicles">
        <div class="col">{{ vehicle.name }}</div>
        <div class="col">{{ vehicle.time }}</div>
      </div>
    </div>
    <div ng-if="progress > 0">
      <h1 class="title">Ładowanie danych, proszę czekać</h1>
      <progress ng-if="progress > 0" max="100" value="{{ progress }}"></progress>
    </div>
    <div ng-if="error">
      <h1 class="title">Nie udało się wczytać danych</h1>
      <button class="button button-small button-positive" ng-click="gotoData()">Załaduj dane</button>
    </div>
  </ion-content>
</ion-view>
