<ion-tabs class="tabs-icon-top tabs-default">

  <ion-tab title="Zaraz odjedzie" icon="icon ion-clock" href="#/tab/arrive">
    <ion-nav-view name="arrive-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Mapa" icon="icon ion-image" href="#/tab/map">
    <ion-nav-view name="map-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Szukaj" icon="icon ion-search" href="#/tab/search">
    <ion-nav-view name="search-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Ulubione" icon="icon ion-heart" href="#/tab/favorites">
    <ion-nav-view name="favorites-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Dane" icon="icon ion-archive" href="#/tab/data">
    <ion-nav-view name="data-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
